body{
    margin: 0;
}

.navbar{
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar ul li{
    width: 20px;
    position: relative;
    text-align: right;
}
.navbar ul li .dot{
    color: #fff;
    display: block;
    padding: 5px 0;
}
.navbar ul li .dot span{
    display: inline-block;
    background-color: orange;
    transform: translateX(30px);
    opacity: 0;
}
.navbar ul li .dot span::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(7px, -50%);
    border-left: 7px solid orange;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: block;
}
.navbar ul li .dot::before,
.navbar ul li .dot::after{
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}

.navbar ul li .dot::before{
    height: 5px;
    width: 5px;
    border: 2px solid #333;
    transform: translateY(-50%);
    right: 0;
}
.navbar ul li .dot::after{
    height: 15px;
    width: 15px;
    border: 2px solid #333;
    transform: translateY(-50%) scale(0);
    right: -5px;
}

.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before{
    border-color: orange;
    background: orange;
}
.navbar ul li .dot.active::after,
.navbar ul li:hover .dot::after{
    transform: translateY(-50%) scale(1);
}

html{
    scroll-behavior: smooth;
}

.sec{
    background: #eee;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec:nth-child(2){
    background: greenyellow;
}

body{
    overflow-x: hidden;
}